main.content
  .container.container--main
    img.content__image(src='images/code.svg' width=256 height=256)
    p Let's check if everything is working...
    ul.tests
      li.test.test--correct Pug to HTML
      li.test.test--correct Sass to CSS
      li.test.test--incorrect JS bundling
