footer.site-footer
  .container
    p.copyright Created by #[a(href='https://zsolti.co') Zsolt Meszaros]. Source code is available on #[a(href='https://github.com/zsoltime/gulp-starter' target='_blank' rel='nofollow noopener noreferrer') GitHub].
    p.copyright Icon made by #[a(href='https://www.flaticon.com/authors/dinosoftlabs' target='_blank' rel='nofollow noopener noreferrer') DinosoftLabs] from #[a(href='https://www.flaticon.com' target='_blank' rel='nofollow noopener noreferrer') flaticon.com], licensed by #[a(href='http://creativecommons.org/licenses/by/3.0/' target='_blank' rel='nofollow noopener noreferrer') CC 3.0].
