{
  "env": {
    "browser": true,
    "es2017": true,
    "node": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true
    },
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore",
        "imports": "always-multiline",
        "objects": "always-multiline"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["gulp/**", "gulpfile.babel.js", "tests/**"] }
    ]
  }
}
