.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 1rem;
}

.container--main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 5.75rem);
}

.content {
  font-size: 1.125rem;
  font-weight: 300;

  &__image {
    display: block;
    margin: 0 auto 1rem;
    max-width: 192px;
    text-align: center;

    line {
      transition: transform 0.2s ease-in-out;
    }

    &:hover line {
      transform: translateY(28%);
    }
  }
}

.tests {
  list-style: none;
  margin: 0 auto 1rem;
  padding-left: 0;
  width: 15ch;
}

.test {
  animation: reveal 0.3s forwards cubic-bezier(0.5, -0.5, 0.5, 1.5);
  display: block;
  opacity: 0;
  transform: scale(0) translateX(-1rem);
  transition: 0.5s color ease-in-out;

  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}) {
      animation-delay: 0.2s * $i;
    }
  }

  &::before {
    display: inline-block;
    margin-right: 1ch;
    transition: 0.3s transform ease-in-out;
  }
  &--correct {
    color: color(teal, dark);

    &::before {
      content: '👍';
    }
  }

  &--incorrect {
    color: color(red, dark);
    text-decoration: line-through;

    &::before {
      content: '💩';
    }
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.page-title {
  color: color(bluegrey, dark);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 2rem 0 1rem;
}

.quote {
  background-color: rgba(black, 0.03);
  border-left: 0.25rem solid color(pink);
  border-radius: 0.25rem;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 0;
  padding: 1.25rem;

  p:last-child {
    margin-bottom: 0;
  }
}

.responsive-iframe {
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.hero {
  background-attachment: fixed;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  margin: 0 auto 1rem;
  overflow: hidden;
}

.inline-img {
  float: left;
  margin: 1rem;
  max-width: 128px;

  &--mirrored {
    transform: scaleX(-1);
  }

  &--right {
    float: right;
  }
}

.block-img {
  display: block;
  max-width: 300px;

  &--center {
    margin: 0 auto 1rem;
  }
}
