doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
    block meta
    block fonts
      link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500',
      rel='stylesheet', type='text/css')
    block styles
      // build:css css/style.css
      link(href='css/style.css', rel='stylesheet', type='text/css')
      // endbuild
    block headerScripts
  body
    block content
    // build:js js/vendor.js
    script(src='js/vendor.js')
    // endbuild
    // build:js js/main.js
    script(src='js/main.js')
    // endbuild
